* {
    box-sizing: border-box;
}

#contact_info {
    display: flex;
}

/* styles for header and main section of page*/

h1 {
    text-align: center;
    padding: 15px;
    margin: -8px -20px 0;
    color: white;
    background-color: purple;
    font-size: 1.5em;
}

main {
    text-align: center;
    position: relative;
    padding: 10px 5px;
    border-bottom: 3px solid black;
    display: inline-block;
    margin-bottom: 25px;
}

main h2 {
    margin: 10px 0 0 0;
}

main p {
    margin: 10px 0 30px 0;
}

main:before {
    content:"";
    display: block;
    position:absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 5px;
    background: black;
}

/* styles for contact information of form */

.contact_info {
    flex-direction: column;
    width: 100%;
    border: none;
    margin: 3px;
    margin-bottom: 20px;
    padding: 3px;
    border-bottom: 3px solid black;
}

legend {
    margin-bottom: 15px;
    font-size: 1.4em;
}

.contact_info input, label {
    display: block;
}

input, select {
    margin-bottom: 10px;
    border-radius: 3px;
    background: whitesmoke;
    width: 100%;
    height: 35px;
    border: none;
}

input::placeholder {
    float: right;
    margin-top: 8px;
    margin-right: 6px;
    color:grey;
}

label {
    margin-bottom: 5px;
}

#zip {
    width: 50%;
    margin-bottom: 20px;
}

/* styles for newsletter part of form */

.newsletter {
    border: none;
}